.container-exchange-rate{
    width: 50%;
    position: relative;
}

.container-exchange-rate .title{
    background-color: #333333;
    color: white;
    border-bottom: white;
    font-size: 2rem ;
    text-align: center;
}

.fixed_header{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_header tbody{
    display:block;
    width: 100%;
    overflow: auto;
    height: 200px;
}

.fixed_header thead tr {
    display: block;
}

.fixed_header thead {
    background: black;
    color:#fff;
}

.fixed_header th, .fixed_header td {
    border-left: 1px solid white;
    padding: 5px;
    text-align: left;
    width: 200px;
}

.container-exchange-rate .fixed_header tbody
    ::-webkit-scrollbar {
        width: 10px;
    }
        
    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
    

    ::-webkit-scrollbar-thumb {
        background: #888; 
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }